includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    paths:
        - src/
        - pages/
        - templates/
        - handlers/
        - public/index.php
        - public/asset.php
    excludePaths:
        - vendor/
        - src/lib/
        - tests/
    bootstrapFiles:
        - vendor/autoload.php
        - phpstan-bootstrap.php
        - src/lib/fpdf/fpdf.php
        - src/lib/Parsedown.php
    scanDirectories:
        - src/
        - handlers/
