parameters:
	ignoreErrors:
		-
			message: '#^Possibly invalid array key type string\|null\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: pages/access_denied.php

		-
			message: '#^Variable \$csrfToken might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: pages/export.php

		-
			message: '#^Function a not found\.$#'
			identifier: function.notFound
			count: 1
			path: pages/help/_agent.php

		-
			message: '#^Variable \$csrfToken might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: pages/logs.php

		-
			message: '#^Ternary operator condition is always false\.$#'
			identifier: ternary.alwaysFalse
			count: 2
			path: pages/settings/tab_app.php

		-
			message: '#^Variable \$csrfToken might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: pages/settings/tab_app.php

		-
			message: '#^Variable \$csrfToken might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: pages/settings/tab_global.php

		-
			message: '#^Variable \$globalEmails might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: pages/settings/tab_global.php

		-
			message: '#^Variable \$csrfToken might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: pages/settings/tab_smtp.php

		-
			message: '#^Variable \$csrfToken might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: pages/user_edit.php

		-
			message: '#^Parameter \#1 \$string of function base64_encode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/AssetService.php

		-
			message: '#^Cannot call method fetchColumn\(\) on PDOStatement\|false\.$#'
			identifier: method.nonObject
			count: 3
			path: src/Services/ConfigService.php

		-
			message: '#^Ternary operator condition is always false\.$#'
			identifier: ternary.alwaysFalse
			count: 2
			path: src/Services/ConfigService.php

		-
			message: '#^Parameter \#1 \$length of function random_bytes expects int\<1, max\>, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/CryptoService.php

		-
			message: '#^Offset ''url'' might not exist on array\{url\?\: string, label\: mixed\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Services/FormattingService.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/FormattingService.php

		-
			message: '#^Parameter \#2 \$timestamp of function date expects int\|null, int\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/cron.php

		-
			message: '#^Parameter \#2 \$timestamp of function date expects int\|null, int\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/cron_anonymize.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/error_notify.php

		-
			message: '#^Function getEnabledRegistries\(\) should return list\<string\> but returns array\<string\>\.$#'
			identifier: return.type
			count: 1
			path: src/helpers/config.php

		-
			message: '#^Function renderRegistryCards\(\) has parameter \$extraContentMap with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/helpers/registry_card_renderer.php

		-
			message: '#^PHPDoc tag @var has invalid value \(array\{prenom\: string, nom\: string, email\: string, \[key\: string\]\: mixed\} \$respondent\)\: Unexpected token "\:", expected ''\]'' at offset 63 on line 1$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/mail_notifications.php

		-
			message: '#^PHPDoc tag @var has invalid value \(array\{reference\: string, objet\: string, declarant_prenom\: string, declarant_nom\: string, pour_compte_nom\: string, pour_compte_prenom\: string, \[key\: string\]\: mixed\} \$report\)\: Unexpected token "\:", expected ''\]'' at offset 155 on line 1$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/mail_notifications.php

		-
			message: '#^Cannot call method fetchColumn\(\) on PDOStatement\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: src/migration_tables.php

		-
			message: '#^Parameter \#2 \$userIds of method App\\Repository\\ReportRepository\:\:linkAgents\(\) expects list\<int\|string\>, array\<int\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/queries/report_agent_queries.php

		-
			message: '#^Parameter \#2 \$userIds of method App\\Repository\\ReportRepository\:\:replaceLinkedAgents\(\) expects list\<int\|string\>, array\<int\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/queries/report_agent_queries.php

		-
			message: '#^Function getPendingInvites\(\) should return list\<array\{email\: string, created_at\: string\}\> but returns array\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/queries/report_invite_queries.php

		-
			message: '#^Function getReportsByRegistry\(\) should return array\{reports\: list\<array\<string, mixed\>\>, total\: int\} but returns array\{reports\: array\<mixed\>, total\: int\}\.$#'
			identifier: return.type
			count: 1
			path: src/queries/report_queries.php

		-
			message: '#^Function getReportsBySite\(\) should return list\<array\<string, mixed\>\> but returns array\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/queries/report_queries.php

		-
			message: '#^Function fetchReportOrRedirect\(\) should return array\<string, mixed\> but returns array\<string, mixed\>\|null\.$#'
			identifier: return.type
			count: 1
			path: src/validation.php

		-
			message: '#^Function validateReportAttachment\(\) should return array\{blob\: string\|null, name\: string\|null, mime\: string\|null\} but returns array\{blob\: string\|false\|null, name\: string\|null, mime\: ''application/pdf''\|''image/gif''\|''image/jpeg''\|''image/png''\|null\}\.$#'
			identifier: return.type
			count: 1
			path: src/validation.php

		-
			message: '#^Variable \$csrfToken might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: templates/header.php

		-
			message: '#^Possibly invalid array key type string\|null\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: templates/impersonate_banner.php

		-
			message: '#^Variable \$csrfToken might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: templates/impersonate_banner.php

		-
			message: '#^Variable \$isEdit might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: templates/report_form_linked_agents.php

		-
			message: '#^Variable \$report might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: templates/report_form_linked_agents.php
