services:
    -
        class: App\PHPStan\NoMagicStringRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\NoLegacyConstantRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\NoSqlOutsideRepositoryRule
        tags:
            - phpstan.rules.rule
