services:
    -
        class: App\PHPStan\NoMagicStringRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\NoLegacyConstantRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\NoInlineStyleRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\NoInlineScriptRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\NoSqlOutsideRepositoryRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\NoTodoCommentRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\NoMixedArrayInMethodRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\NoMixedArrayInFunctionRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\NoMixedArrayInClosureRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\NoMixedArrayInVarRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\NoRawAnonymizationLiteralRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\NoInvalidSqliteRaiseRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\NoSilentCatchRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\MustCheckReturnValueRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\NoForbiddenEnumMethodRule
        tags:
            - phpstan.rules.rule
