parameters:
	ignoreErrors:
		-
			identifier: shipmonk.deadMethod
			message: '#App\\DTO\\SitesStatsView::isCellPositive#'
			path: src/DTO/SitesStatsView.php
		-
			identifier: shipmonk.deadMethod
			message: '#App\\Repository\\SessionRepository::instance#'
			path: src/Repository/SessionRepository.php
		-
			identifier: shipmonk.deadMethod
			message: '#App\\Repository\\StatsQueryRepository::instance#'
			path: src/Repository/StatsQueryRepository.php
		-
			identifier: shipmonk.deadMethod
			message: '#App\\Services\\ReportStateMachine::getTransitionDescription#'
			path: src/Services/ReportStateMachine.php
