parameters:
    level: 6
    paths:
        - src/
        - pages/
        - templates/
        - handlers/
        - public/index.php
        - public/asset.php
    excludePaths:
        - vendor/
        - src/lib/
        - tests/
    bootstrapFiles:
        - phpstan-bootstrap.php
